@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Prop+Double:wght@100..900&family=Bitcount+Prop+Single:wght@100..900&family=Jersey+25&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10px;
}

:root {
    font-size: 1em;
    scroll-behavior: smooth;

    --gutter: 15vw;
    --primary-clr: hsl(243, 100%, 69%);
    --secondary-clr: #65ADE0;
    --text-clr: #4841ce;
    --text-clr-2: #B0DCE0;

    --cta-clr: hsl(calc(243 - 200), 100%, 69%);
    --cta-text-clr: #65E09A;
}

body {
    min-height: 100vh;
}

header {
    padding: 1.1rem var(--gutter);
    background-color: var(--primary-clr);
    display: flex;
}

header .logo {
    flex: 0 0 max-content;
    padding-right: 8px;
    font-size: 1.5rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header .hamburger_menu {
    align-self: center;
    width: 32px;
    height: 32px;
    border: 2px solid black;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.hamburger_menu span {
    width: 80%;
    height: 2px;
    border-radius: 10px;
    background-color: #6586E0;
}

.hamburger_menu span:nth-child(1) {
    background-color: lightgreen;
    transform: translateY(100%);
}

.hamburger_menu span:nth-child(3) {
    background-color: red;
    transform: translateY(-100%);
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

nav ul li {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 .55rem;
}

nav ul a {
    text-decoration: none;
    color: #000;
}

main {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

main svg {
    margin-bottom: 100px;
    width: 100%;
}

main .container {
    width: calc(100% - (var(--gutter) * 2));
    margin: auto;
}

main .container > *:not(:first-child) {
    margin-top: 100px;
}

main .container .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.anchor_container {
    grid-column: span 1;
    text-decoration: none;
}

.projects .pr_container {
    position: relative;
    height: 450px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--primary-clr);
    z-index: 1;
}

.projects .pr_container::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.pr_container .top {
    flex: 0 0 45%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid var(--primary-clr);

}

.pr_container .bottom {
    flex: 1;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-clr);
}

.bottom p {
    text-align: center;
    letter-spacing: 1.3px;
}

.bottom .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.bottom .desc {
    font-size: 0.95rem;
}

.bottom .line {
    margin-top: auto;
    width: 100%;
    height: 2px;
    background-color: #ccc4;
    border-radius: 10px;
}

.bottom .langueges {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.195rem;

}

.langueges .link {
    padding: 7px 15px;
    width: max-content;
    background-color: var(--cta-clr);
    border: none;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 0.95rem;
    letter-spacing: 1.2px;
    margin-left: auto;
}

.anchor_container:nth-child(1) .pr_container .top {
    background-image: url(./Images/coolSmells.png);
}

.anchor_container:nth-child(2) .pr_container .top {
    background-image: url(./Images/employee_database.png);
}

.anchor_container:nth-child(3) .pr_container .top {
    background-image: url(./Images/quizzez.png);
}

.about-container {
    position: relative;
    padding: 20px 0;
    display: flex;
    gap: 40px;
}

.about-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(var(--gutter) * -1);
    right: calc(var(--gutter) * -1);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -999;
}

.about-container .headshot {
    flex: 0 0 calc(50% - 40px);
}

.about-container .headshot .img {
    width: 230px;
    aspect-ratio: 1 / 1;
    margin: auto;
    border-radius: 50%;
    border: 2px solid var(--text-clr);
    overflow: hidden;
}

.headshot .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -110px;
}

.headshot p {
    margin-top: 20px;
    width: 50ch;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    line-height: 1.4;
    text-align: center;
}

.about-container .certs {
    flex: 0 0 calc(50% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.certs section {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.certs h1 {
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    background-color: var(--secondary-clr);
}

.certs h1::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 5px;
    width: 100%;
    height: 100%;
    background-color: var(--text-clr);
    z-index: -99999;
}

.certs a {
    position: relative;
    padding: 10px 10px 10px 5px;
    width: 100%;
    /* height: 100%; */
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-clr);
    background-color: var(--cta-clr);
    display: flex;
    justify-content: space-between;
}

.certs a::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 5px;
    width: 100%;
    height: 100%;
    background-color: var(--text-clr);
    z-index: -99999;
}

.certs a span {
    font-size: 1.8rem;
}

footer {
    padding: 0 0 20px 0;
    width: 100%;
    height: 120px;
    clip-path: polygon(0 0, 51% 34%, 100% 0, 100% 100%, 0 100%);
    background-color: black;
    display: flex;
    justify-content: stretch;
}

footer .text {
    width: 100%;
    color: white;
    text-align: center;
    align-self: flex-end;
    font-size: 1.3rem;
}

footer .text a {
    color: white;
}



@media (max-width: 810px) {
    :root {
        font-size: 0.8rem;
        --gutter: 5vw;
    }

    .about-container {
        position: relative;
        padding: 20px 0;
        display: flex;
        flex-flow: row wrap;
        gap: 40px;
    } 

    .about-container .headshot {
        flex: 0 0 100%;
    }

    .about-container .certs {
        flex: 0 0 100%;

    }
}

@media (max-width: 430px) {
    :root {
        font-size: 0.8rem;
        --gutter: 10vw;
    }


    main .container .projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .bottom p {
        text-align: center;
        letter-spacing: 1.3px;
    }

    .bottom .title {
        font-size: 1.8rem;
        font-weight: bold;
    }

    .bottom .desc {
        font-size: 1.1rem;
    }

    .about-container .headshot .img {
        width: 50%;
        aspect-ratio: 1 / 1;
        margin: auto;
        border-radius: 50%;
        border: 2px solid var(--text-clr);
        overflow: hidden;
    }

    .headshot .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center -100px;
    }

    .headshot .content {
        max-width: 100%;
    }

    .headshot p {
        margin-top: 20px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1rem;
        letter-spacing: 1.5px;
        line-height: 1.4;
        text-align: center;
    }

    .certs section {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .certs h1 {
        position: relative;
        margin-bottom: 10px;
        padding: 5px;
        text-align: center;
        background-color: var(--secondary-clr);
    }

    .certs h1::before {
        content: '';
        position: absolute;
        left: -5px;
        top: 5px;
        width: 100%;
        height: 100%;
        background-color: var(--text-clr);
        z-index: -99999;
    }

    .certs a {
        position: relative;
        padding: 10px 10px 10px 5px;
        width: 100%;
        /* height: 100%; */
        text-decoration: none;
        font-size: 1.1rem;
        color: var(--text-clr);
        background-color: var(--cta-clr);
        display: flex;
        justify-content: space-between;
    }

    .certs a::before {
        content: '';
        position: absolute;
        left: -5px;
        top: 5px;
        width: 100%;
        height: 100%;
        background-color: var(--text-clr);
        z-index: -99999;
    }

    .certs a span {
        font-size: 1.5rem;
    }

    footer {
        padding: 0 0 20px 0;
        width: 100%;
        height: 120px;
        clip-path: polygon(0 0, 51% 34%, 100% 0, 100% 100%, 0 100%);
        background-color: black;
        display: flex;
        justify-content: stretch;
    }

    footer .text {
        width: 100%;
        color: white;
        text-align: center;
        align-self: flex-end;
        font-size: 1.2rem;
    }

    footer .text a {
        color: white;
    }


    
}
